<div fxLayout="column" fxFlex="200px">
  <div fxFlex="70px" fxLayoutAlign="center center">
    <img src="../../assets/images/mtdl-logo.svg" fxFlex="1 1 80%"/>
  </div>

  <div class="navigator-wrapper" fxLayout="column">
    <button class="mtdl-nav-link" (click)="loadModule('Mydashboard')">Dashboard</button>
    <button class="mtdl-nav-link" (click)="loadModule('Mylessons')">My lessons</button>
    <button class="mtdl-nav-link" (click)="loadModule('Myquestionnaires')">Questionnaires</button>
  </div>
</div>
