

.qformview {

  h4
  {
    margin: 3px 16px 15px;
  }
  mat-card-header
  {
    display: block;
  }
  mat-card {
    margin-bottom: 20px;


    &.highlight
    {
      background: #a8bbd3;
      border: 2px solid #81a5d1;
    }
  }

  .add-assingment-input
  {
    width: 100%;
  }



  }
