<div class="qformview-wrapper">



  <div class="mtdl-content-header">
    <h1 class="mdtl-blue"> Assignments
      <mat-label> Successful treatment of difficult wounds requires assessment
        of the entire patient and not just the wound. Systemic problems often
        impair wound healing; conversely, nonhealing wounds may herald systemic
        pathology </mat-label>
    </h1>

  </div>

  <div class="qformview">

    <mat-card class="add-assignment highlight mat-elevation-z1">
      <mat-card-header>

        <mat-card-title>


          <mat-form-field class="add-assingment-input">
            <mat-label>Add Assignment Subject</mat-label>
            <strong color="primary"><input matInput type="text"></strong>
          </mat-form-field>

        </mat-card-title>
        <mat-card-subtitle>
          <mat-form-field class="add-assingment-input">
            <mat-label>Add Subtitile</mat-label>
            <input matInput type="text" value="By Dr. Jeorge Samarasekara
              M.B.B.S">
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="assignment-button-controllers"
        fxLayoutGap="20px">
        <button mat-raised-button color="accent"> Add </button>
      </mat-card-content>

    </mat-card>




    <mat-card>


      <mat-card-header>




        <mat-card-title>
          <h4 class="mdtl-blue">Assignment : Wounds</h4>

          <mat-form-field class="add-assingment-input">
            <mat-label>Assignment Subject</mat-label>
            <strong color="primary"><input matInput type="text" value="Wounds"></strong>
          </mat-form-field>




        </mat-card-title>

        <mat-card-subtitle>
          <mat-form-field class="add-assingment-input">
            <mat-label>Subtitile</mat-label>
            <input matInput type="text" value="By Dr. Jeorge Samarasekara
              M.B.B.S">
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>


      <mat-card-content class="assignment-button-controllers"
        fxLayoutGap="20px">
        <button mat-raised-button color="primary"> Update </button>
        <button mat-raised-button color="warn"> Delete </button>
      </mat-card-content>

    </mat-card>


  </div>


</div>
