<div class="qformview-wrapper">

  <div class="mtdl-content-header">
    <h1 class="mdtl-blue"> Assignments
      <mat-label> Successful treatment of difficult wounds requires assessment
        of the entire patient and not just the wound. Systemic problems often
        impair wound healing; conversely, non healing wounds may herald systemic
        pathology </mat-label>
    </h1>

  </div>

  <div class="qformview">
    <form [formGroup]="assignmentForm" (ngSubmit)="onCreateAssignment()">
      <mat-card class="add-assignment highlight mat-elevation-z1">
        <mat-card-header>
          <mat-card-title>
            <mat-form-field class="add-assingment-input">
              <mat-label>Add Assignment Subject</mat-label>
              <strong color="primary">
                <input matInput type="text" formControlName="subject" required>
              </strong>
            </mat-form-field>

          </mat-card-title>
          <mat-card-subtitle>
            <mat-form-field class="add-assingment-input">
              <mat-label>Add Subtitile</mat-label>
              <input matInput type="text" formControlName="subtitile">
            </mat-form-field>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="assignment-button-controllers" fxLayoutGap="20px">
          <button mat-raised-button color="accent" type="submit" [disabled]="!assignmentForm.valid"> Add </button>
        </mat-card-content>
      </mat-card>
    </form>

    <div *ngFor="let i of assignmentList">
      <app-assignments-item [assignment]="i"></app-assignments-item>
      <br />
    </div>

  </div>


</div>
