


<div class="login-box-wrapper" fxLayout="column" fxLayoutAlign="center center" >

  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Welcome to MTDL </mat-card-title>
      </mat-card-header>
      <form class="login-box" fxLayout="column">
        <mat-form-field>
          <mat-label> Name </mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Password </mat-label>
          <input matInput>
        </mat-form-field>

        <button mat-flat-button color="primary">Primary</button>
      </form>


    </mat-card-content>
  </mat-card>



</div>

