<div class="login-box-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title> <img src="../assets/images/mtdl-logo.svg" />
        </mat-card-title>
      </mat-card-header>

      <form class="login-box" fxLayout="column" fxLayoutGap="5px">
        <mat-form-field>
          <mat-label> Name </mat-label>
          <input matInput #name>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Password </mat-label>
          <input matInput #pasword type="password">
        </mat-form-field>

        <div fxLayout="row wrap">

          <button mat-flat-button color="primary" (click)="loadModule('myDashboard',name.value,pasword.value)"
            type="button">Login</button>
          <span class="spacer"></span>
          <button mat-flat-button color="accent" (click)="loadModule('Register')" type="button">Register</button>

        </div>

        <button mat-button color="primary" fxFlexAlign="start" type="button">Forgot password</button>
        <span class="spacer"></span>


      </form>


    </mat-card-content>
  </mat-card>
</div>