<div fxLayout="column" fxFlex="200px">
  <div fxFlex="70px" fxLayoutAlign="center center">
    <img src="../../assets/images/mtdl-logo.svg" fxFlex="1 1 80%"/>
  </div>

  <div class="navigator-wrapper" fxLayout="column">
    <button class="mtdl-nav-link" (click)="loadModule('myDashboard')">Dashboard</button>
    <button class="mtdl-nav-link" (click)="loadModule('myLessons')">Lessons </button>
    <button class="mtdl-nav-link" (click)="loadModule('assignment')">Assignments</button>
    <button class="mtdl-nav-link" (click)="loadModule('myQuestionnaires')">Questionnaires</button>
  </div>
</div>
