
<div class="qformview-wrapper">



  <div class="mtdl-content-header">
    <h1 class="mdtl-blue"> Assignments
      <mat-label> Successful treatment of difficult wounds requires assessment
        of the entire patient and not just the wound. Systemic problems often
        impair wound healing; conversely, nonhealing wounds may herald systemic
        pathology </mat-label>
    </h1>
  </div>

  <div class="qformview">

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="user-thumb">
          <img src="./../../assets/images/profile.png" />
        </div>
        <mat-card-title class="mdtl-blue">
          <strong> General Training on Puncture wounds</strong>
        </mat-card-title>
        <mat-card-subtitle> <mat-label> Assignment by </mat-label> <mat-label
            class="mdtl-blue">Dr. Jeorge Samarasekara </mat-label> <mat-label>
            M.B.B.S </mat-label> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState= false"
            (closed)="panelOpenState= false">

            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mdtl-blue">videocam</mat-icon>
                <strong> Lesson </strong>
              </mat-panel-title>

            </mat-expansion-panel-header>

            <iframe width="100%" height="500"
              src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube
              video player" frameborder="0" allow="accelerometer; autoplay;
              clipboard-write; encrypted-media; gyroscope; picture-in-picture;
              web-share" allowfullscreen></iframe>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState= true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mdtl-blue">question_answer</mat-icon>
                <strong> Questionaire</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <mat-vertical-stepper [linear]="false" #stepper  class="questions-body">

              <mat-step [stepControl]="firstFormGroup">
                <form>
                  <ng-template matStepLabel> <strong> What is the major
                      advantage of using 0.2mm cutting blade on first skin ?
                    </strong> </ng-template>

                  <mat-selection-list #q1answersmodel [multiple]="false">
                    <mat-list-option *ngFor="let answers of q1answers"
                      [value]="answers">
                      <span> {{answers}} </span>
                    </mat-list-option>
                  </mat-selection-list>


                  <p class="answer-selected" fxLayoutAlign="center center">
                    <strong fxFlex="1 1 auto"> <mat-label class="mdtl-pink">
                        Your Answer is :</mat-label> <mat-label
                        class="mdtl-blue">
                        {{q1answersmodel.selectedOptions.hasValue() ?
                        q1answersmodel.selectedOptions.selected[0].value :
                        'No answer selected'}} </mat-label> </strong>

                    <button mat-button matStepperNext mat-raised-button
                      color="accent" class="continue-q">Next</button>
                  </p>





                </form>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup">
                <form>
                  <ng-template matStepLabel> <strong> What are the major Tools
                    </strong> </ng-template>

                  <mat-selection-list #q2answersmodel [multiple]="false">
                    <mat-list-option *ngFor="let answers of q1answers"
                      [value]="answers">
                      <span> {{answers}} </span>
                    </mat-list-option>
                  </mat-selection-list>


                  <p class="answer-selected" fxLayoutAlign="center center">
                    <strong fxFlex="1 1 auto"> <mat-label class="mdtl-pink">
                      Your Answer is :</mat-label> <mat-label
                      class="mdtl-blue">
                      {{q2answersmodel.selectedOptions.hasValue() ?
                      q2answersmodel.selectedOptions.selected[0].value :
                      'No answer selected'}} </mat-label> </strong>
                        <button mat-button matStepperBack mat-raised-button color="primary" class="continue-q">Back</button>

                    <button mat-button matStepperNext mat-raised-button color="accent" class="continue-q">Next</button>
                  </p>





                </form>
              </mat-step>

              <mat-step [stepControl]="thirdFormGroup">
                <form>
                  <ng-template matStepLabel> <strong> Select the wrong statement
                    </strong> </ng-template>

                  <mat-selection-list #q3answersmodel [multiple]="false">
                    <mat-list-option *ngFor="let answers of q1answers"
                      [value]="answers">
                      <span> {{answers}} </span>
                    </mat-list-option>
                  </mat-selection-list>


                  <p class="answer-selected"fxLayoutAlign="center center">
                    <strong fxFlex="1 1 auto"> <mat-label class="mdtl-pink">
                      Your Answer is :</mat-label> <mat-label
                      class="mdtl-blue">
                        {{q3answersmodel.selectedOptions.hasValue() ?
                        q3answersmodel.selectedOptions.selected[0].value :
                        'No answer selected'}} </mat-label> </strong>

                        <button mat-button matStepperNext mat-raised-button
                      color="primary" class="continue-q">Back</button>

                    <button mat-button matStepperNext mat-raised-button
                      color="accent" class="continue-q">Next</button>
                  </p>





                </form>
              </mat-step>


            </mat-vertical-stepper>

          </mat-expansion-panel>
        </mat-accordion>


      </mat-card-content>

      <mat-card-actions>


        <button color="accent" mat-raised-button
          (click)="loadModule('Myquestionnaires')"> Submit Answers </button>
      </mat-card-actions>

    </mat-card>


  </div>


</div>
