
<div class="mtdl-content-header">
  <h1 class="mdtl-blue">Questionaires
    <mat-label> Welcome to the Medical Training Distance Learning system</mat-label>
  </h1>
</div>


<div class="Questionaire-list">



    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds test </strong>
        </mat-card-title>
        <mat-card-subtitle>Successful treatment of difficult wounds requires assessment of the entire patient and not just the wound. Systemic problems often impair wound healing; conversely, nonhealing wounds may herald systemic pathology</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button  (click)="loadModule('QuestionnaireformviewComponent')">View</button>
        <button color="primary" mat-stroked-button (click)="loadModule('QuestionnaireformeditComponent')">Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="video-thumb" mat-card-avatar>
          <iframe width="100px" height="100" src="https://www.youtube.com/embed/sNS67ZJQVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
        <mat-card-title class="mdtl-blue">
          <strong> Treating the Special wounds </strong>
        </mat-card-title>
        <mat-card-subtitle>General Training on treating the Special wound made by glass parts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end" fxLayoutGap="10px">
        <button color="primary" mat-stroked-button>View</button>
        <button color="primary" mat-stroked-button>Edit</button>
        <button color="warn" mat-stroked-button>Delete</button>
      </mat-card-actions>
    </mat-card>


  <mat-divider></mat-divider>

</div>
