




<div class="login-box-wrapper" fxLayout="column" fxLayoutAlign="center center"  *ngIf="visible" >

  <mat-card>
    <mat-card-content fxLayoutGap="150px">
      <mat-card-header>
        <mat-card-title>Welcome to MTDL </mat-card-title>
      </mat-card-header>
      <form class="login-box" fxLayout="column"  fxLayoutGap="5px">
        <mat-form-field>
          <mat-label> Name </mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Password </mat-label>
          <input matInput>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="onclick()" type="button" >Login</button>
      </form>


    </mat-card-content>
  </mat-card>



</div>



<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side" opened="true">
    <app-mtdlmenu class="menu-content"></app-mtdlmenu>

  </mat-drawer>

  <div class="drawer-content">

    <div class="topnavbar-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <app-topnavbar fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end
        center"></app-topnavbar>

    </div>

    <div class="content-wrapper">

      <router-outlet></router-outlet>



      <div fxLayout="row" fxLayoutAlign="center center" class="footer">

        Copyright © 2023 Medical Training Distance Learning. All Rights Reserved

      </div>


    </div>



  </div>


</mat-drawer-container>



