
<div class="qformview-wrapper">



  <div class="mtdl-content-header">
    <h1 class="mdtl-blue"> Add or Edit your Lesson
      <mat-label> Successful treatment of difficult wounds requires assessment
        of the entire patient and not just the wound. Systemic problems often
        impair wound healing; conversely, nonhealing wounds may herald systemic
        pathology </mat-label>
    </h1>
  </div>

  <div class="qformview">





    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="user-thumb">
          <img src="./../../assets/images/profile.png" />
        </div>
        <mat-card-title class="mdtl-blue">
          <mat-form-field appearance="fill" class="add-assingment-input">
            <mat-label>Select Assignment Subject</mat-label>
            <mat-select>
              <mat-option value="option1">General Training</mat-option>
              <mat-option value="option2">Wounds & Cutting</mat-option>
              <mat-option value="option3">Professional Medicine</mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-title>
        <mat-card-subtitle>

          <mat-form-field appearance="fill" class="add-assingment-input">
            <mat-label>Select Subtitile</mat-label>
            <mat-select>
              <mat-option value="option1">By Dr. Jeorge Samarasekara M.B.B.S</mat-option>
              <mat-option value="option2">By Dr. Jeorge Samarasekara Sergon</mat-option>
              <mat-option value="option3">By Admin</mat-option>
            </mat-select>
          </mat-form-field>


        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState= false"
            (closed)="panelOpenState= false">

            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mdtl-blue">videocam</mat-icon>
                <strong>Upload your Lesson Tutorial </strong>
              </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="upload-controllers">

              <mat-form-field class="add-video-controller">
                <mat-label>Upload your video file</mat-label>
                <input matInput type="text">
                <button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon>add_to_queue</mat-icon>
                </button>
              </mat-form-field>

              <button color="accent" mat-raised-button
              (click)="loadModule('Myquestionnaires')"> Submit Video </button>

            </div>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mdtl-blue">question_answer</mat-icon>
                <strong> Create your Questionaire</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="question-wrapper">

              <h4>
                <mat-label class="question-number">Q:1</mat-label>

                <mat-form-field class="add-question">
                  <mat-label>Add your Question</mat-label>
                  <input matInput placeholder="Ex. What is the term of Medicine is perfectly match from out of these" />
                </mat-form-field>


                </h4>

              <mat-selection-list #q1answersmodel [multiple]="true" class="add-question-model">

                <mat-form-field class="add-question">
                  <mat-label>Add your Question</mat-label>
                  <input matInput placeholder="Ex. What is the term of Medicine is perfectly match from out of these" />
                </mat-form-field>

                <mat-list-option>

                  <mat-form-field class="add-question">
                    <mat-label>Add your Answer selection 01</mat-label>
                    <input matInput placeholder="appears at the beginning of a term and indicates a location, direction, type, quality or quantity" />
                  </mat-form-field>

                </mat-list-option>

                <mat-list-option>

                  <mat-form-field class="add-question">
                    <mat-label>Add your Answer selection 02</mat-label>
                    <input matInput placeholder="appears at the beginning of a term and indicates a location, direction, type, quality or quantity" />
                  </mat-form-field>

                </mat-list-option>

                <mat-list-option>

                  <mat-form-field class="add-question">
                    <mat-label>Add your Answer selection 03</mat-label>
                    <input matInput placeholder="appears at the beginning of a term and indicates a location, direction, type, quality or quantity" />
                  </mat-form-field>

                </mat-list-option>

                <mat-list-option>

                  <mat-form-field class="add-question">
                    <mat-label>Add your Answer selection 04</mat-label>
                    <input matInput placeholder="appears at the beginning of a term and indicates a location, direction, type, quality or quantity" />
                  </mat-form-field>

                </mat-list-option>







              </mat-selection-list>

              <p class="answer-selected">
                <strong> <mat-label class="mdtl-pink"> Answer/s for this question:</mat-label>

                  <mat-label class="mdtl-blue">
                    {{q1answersmodel.selectedOptions.hasValue() ?
                    q1answersmodel.selectedOptions.selected[0].value : 'None'}}
                  </mat-label> </strong>
              </p>


            </div>

          </mat-expansion-panel>
        </mat-accordion>


      </mat-card-content>

      <mat-card-actions>

        <button color="primary" mat-raised-button> Submit Questionaire</button>

      </mat-card-actions>

    </mat-card>

    <mat-card class="system-message success">
      <mat-card-header>Questionaire Submitted Successfully</mat-card-header>
      <mat-card-content></mat-card-content>
    </mat-card>

    <mat-card class="system-message warning">
      <mat-card-header>Please check your details again.</mat-card-header>
      <mat-card-content>Questionaire Submit Failed.</mat-card-content>
    </mat-card>



  </div>


</div>
