
<div class="mtdl-content-header">
  <h1 class="mdtl-blue"> Dashboard
    <mat-label> Welcome to the Medical Training Distance Learning system</mat-label>
  </h1>
</div>

<div class="dashboard-figures" fxLayout="row" fxLayoutGap="25px"
  fxLayoutAlign="center stretch">
  <mat-card class="figure-card">
    <mat-card-content>
      <h4>Questionaires Viewed</h4>
      <mat-label>Viewed questionaires from all of available.</mat-label>
      <div fxLayout="row" fxLayoutAlign="start center"
        class="spinner-wrapper">
        <mat-progress-spinner value="10" color="primary">
        </mat-progress-spinner>
        <h1>10</h1>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="figure-card">
    <mat-card-content>
      <h4>Questionaires Taken</h4>
      <mat-label>Viewed questionaires from all of available.</mat-label>
      <div fxLayout="row" fxLayoutAlign="start center"
        class="spinner-wrapper">
        <mat-progress-spinner value="80" color="primary">
        </mat-progress-spinner>
        <h1>80</h1>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="figure-card">
    <mat-card-content>
      <h4>Questionaires Passed</h4>
      <mat-label>Viewed questionaires from all of available.</mat-label>
      <div fxLayout="row" fxLayoutAlign="start center"
        class="spinner-wrapper">
        <mat-progress-spinner value="20" color="primary">
        </mat-progress-spinner>
        <h1>20</h1>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="figure-card">
    <mat-card-content>
      <h4>Questionaires Failed</h4>
      <mat-label>Viewed questionaires from all of available.</mat-label>
      <div fxLayout="row" fxLayoutAlign="start center"
        class="spinner-wrapper">
        <mat-progress-spinner value="60" color="primary">
        </mat-progress-spinner>
        <h1>60</h1>
      </div>
    </mat-card-content>
  </mat-card>


</div>
