<div class="mtdl-content-header">
  <h1 class="mdtl-blue"> My Profile
    <mat-label> Successful treatment of difficult wounds requires assessment
      of the entire patient and not just the wound. Systemic problems often
      impair wound healing; conversely, nonhealing wounds may herald systemic
      pathology </mat-label>
  </h1>

</div>

<form class="user-profile-wrapper">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

    <div mat-card-avatar class="user-thumb">

      <button class="change-avatar" mat-icon-button matTooltip="Primary"
        color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>

      <img src="./../../assets/images/profile.png" />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Your Role</mat-label>
      <mat-select>
        <mat-option value="option1">Studend</mat-option>
        <mat-option value="option2">Consultant</mat-option>
        <mat-option value="option3">Admin</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <table class="profile-input-full" cellspacing="0"><tr>
      <td><mat-form-field class="profile-input-full">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
      <td class="padding-right-null"><mat-form-field class="profile-input-full">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput>
        </mat-form-field></td>
    </tr></table>


  <p>
    <mat-form-field class="profile-input-full">
      <mat-label>Base Hospital</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">Colombo General</textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="profile-input-full">
      <mat-label>Medical Registration Number</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">Registration number of your Medical ID</textarea>
    </mat-form-field>
  </p>


  <p>
    <mat-form-field class="profile-input-full">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="profile-input-full">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <table class="profile-input-full" cellspacing="0"><tr>
      <td><mat-form-field class="profile-input-full">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
      <td><mat-form-field class="profile-input-full">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
      <td class="padding-right-null"><mat-form-field class="profile-input-full">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105"
            value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
    </tr></table>


  <table cellspacing="0" class="profile-input-full"><tr>
      <td>
        <mat-form-field class="profile-input-full">
          <mat-label>Mobile Number</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">+94 77 7548 729</textarea>
        </mat-form-field>

      </td>

      <td class="padding-right-null">

        <mat-form-field class="profile-input-full">
          <mat-label>Land line</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">+94 77 7548 729</textarea>
        </mat-form-field>

      </td>

    </tr></table>

  <p>

    <button color="accent" mat-raised-button> Submit Changes </button>

  </p>

</form>
